<footer class="page-footer brown darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">SGB</h5>
        <p class="grey-text text-lighten-4">Sistema desenvolvido com o intuito de atender um requisito da disciplina de Framework.
        Ministrada pelo professor Dr. Roni Fabio Banaszewski para a Pos Grqaduação Especialização em JAVA da UTFPR.
        </p>

      </div>
      <div class="col l3 s12">
        <h5 class="abrown-text">Futuramente disponivel :</h5>
            <ul>
              <tr><a href="">
                <img src="assets/icons/apple.png" alt="" width="100"></a></tr>
              <tr><a href="">
                <img src="assets/icons/google.png" alt="" width="100" height="35"></a></tr>
            </ul>

      </div>
      <div class="col l3 s12 m6">
          <h5 class="abrown-text">SOCIAL</h5>
          <div class="textwidget">
            <div class="social-icons">

                <td><a href="" rel="publisher noopener" target="_blank"><img
                      src="assets/icons/instagram.png" alt="" width="30"></a></td>
                <td><a href="" target="_blank" rel="noopener"><img
                      src="assets/icons/facebook.png" alt="" width="30"></a></td>
                <td><a href="" target="_blank" rel="noopener"><img
                      src="assets/icons/linkedin.png" alt="" width="30"> </a></td>
                <td><a href="" target="_blank" rel="noopener"><img
                      src="assets/icons/twitter.png" alt="" width="30"></a></td>
                <td><a href="" target="_blank" rel="noopener"><img
                      src="assets/icons/whatsapp.png" alt="" width="30"></a></td>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright dark center">
    <div class="container">
      Desenvolvido por: Pellicciotti Development and Designer <a class="brown-text text-lighten-3" href=""> @copyright
        2022</a>
    </div>
  </div>
</footer>
