
<!--Div banner princial-->
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="row"></div>
    <div class="row"></div>
    <div class="container">
      <h3 class="header center"><img src="assets/logo2.png"/></h3>
      <div class="row center">
        <h5 class="header col s12 light">Uma forma moderna de gerenciar seus livros. Experimente!</h5>
      </div>
      <div class="container">
        <div class="row center" >
          <div class="header col s12 light ">
            <a routerLink="/login" id="download-button"
            class="btn-large waves-effect waves-light brown darken-1">LOGIN</a>
            <a routerLink="" id="download-button"
            class="btn-large waves-effect waves-light brown darken-1 alternate-option">Conheça</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/rotativo/image3.jpg" alt="Unsplashed background img 1"
      style="transform: translate3d(-50%, 232.496px, 0px); opacity: 1; size: cover;"></div>
</div>
<!--FimDiv banner princial-->
<!--Div bloco 2-->
<div class="parallax">
  <div class="section container">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">auto_stories</i></h2>
          <h3 class="center ">Bibliófilo</h3>

          <p  class="light center-align"> "Amante dos livros" ou, por outras palavras, aquele que cultiva os livros,
            os colecciona. Em geral, o bibliófilo possui em sua casa uma grande biblioteca, fruto da sua paixão pelos livros.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">tips_and_updates</i></h2>
          <h3 class="center">Curiosidade</h3>
          <p class="light center-align">Aristóteles foi um dos primeiros bibliófilos.
           Segundo o historiador Estrabão: "foi o primeiro homem, de que há conhecimento, a colecionar livros e a ensinar os reis do Egito a organizar uma biblioteca." </p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">collections_bookmark</i></h2>
          <h3 class="center">Compartilhe</h3>
          <p  class="light center-align">Conhecimento é poder, mais conhecimento não compartilhado é inutil. Compartilhe  seus livros
            pois desta vida não levamos bens pessoais e sim toda as lembranças e conhecimentos que partilhamos.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Fim Div Bloco 2-->
<!--Div banner 2-->
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h2 class="header col s12 light">Conhecimento é poder, mais conhecimento não compartilhado é inutil!</h2>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/rotativo/image8.jpg" alt="Unsplashed background img 2" style="opacity: 1; transform: translate3d(-50%, 224.313px, 0px);"></div>
</div>
<!--Fim Div banner 2-->
<!--Div bloco card 3 -->
<div class="parallax">
  <div class="row container">
    <div class="col s20 m20 l4" >
      <h4></h4>
      <br>
      <div class="card medium">
        <div class="card-image">
          <img src="assets/rotativo/image10.jpg">
          <span class="card-title waves-effect waves-light brown-text darken-1 ">SGB</span>
        </div>
        <div class="card-content brown-text darken-1">
          <p>Experimente o nosso sistema, sugestões são sempre bem vindas! Faça a diferença!
          </p>
        </div>
        <div class="card-action">
          <a class=" brown-text darken-1 " href="#">Sugestões </a>
        </div>
      </div>
    </div>
    <!--col-->
    <div class="col s12 m4 l4">
      <h4></h4>
      <br>
      <div class="card medium">
        <div class="card-image">
          <img src="assets/rotativo/image11.jpg">
          <span class="card-title ">Clube de Leitura</span>
        </div>
        <div class="card-content brown-text darken-1">
          <p>Participe do Clube do Livro, onde trocamos experiências, ideias e.... livros!!!.
          </p>
        </div>
        <div class="card-action">
          <a class=" brown-text darken-1 " href="#">Inscreva-se </a>
        </div>
      </div>
    </div>
    <!--col-->
    <div class="col s12 m4 l4">
      <h4></h4>
      <br>
      <div class="card medium">
        <div class="card-image waves-effect waves-light brown-text darken-1">
          <img src="assets/rotativo/image12.jpg">
          <span class="card-title">Livrólico???</span>
        </div>
        <div class="card-content brown-text darken-1">
          <p>Sabe o que é livrolico? Será que você também é um? <br>Descubra.....
          </p>
        </div>
        <div class="card-action">
          <a class=" brown-text darken-1" href="#">Descubra</a>
        </div>
      </div>
    </div>
    <!--col-->
  </div>
  <!--row-->
</div>
<!-- Fim Div bloco card 3-->
<!--Div bloco card 4-->
<div class="parallax brown ">
  <div class="container">
    <div class="section ">
      <div class="row">
        <div class="col s12">
          <div class="section">
            <div class="col s20 m10 l4">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <a href="">
                    <img width="305" height="226"
                      src="assets/rotativo/image13.jpg"
                      class="responsive-img wp-post-image" alt="Tecnologia"
                      title="Tecnologia"
                      srcset="assets/rotativo/image13.jpg 305w"
                      /> <span class="card-title home brown darken-3">Tecnologia</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <a href="assets/rotativo/image14.jpg 305w">
                    <img width="305" height="229"
                      src="assets/rotativo/image14.jpg 305w"
                      class="responsive-img wp-post-image" alt="Programacao"
                      loading="lazy" title="Programaça"
                      srcset="assets/rotativo/image14.jpg 305w"
                      sizes="(max-width: 305px) 100vw, 305px" /> <span class="card-title home brown darken-3">Programação</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <a href="assets/rotativo/image15.jpg 305w">
                    <img width="305" height="229"
                      src="assets/rotativo/image15.jpg 305w"
                      class="responsive-img wp-post-image" alt="Quadrinhos"
                      loading="lazy" title="Quadrinhos"
                      srcset="assets/rotativo/image15.jpg 305w"
                      sizes="(max-width: 305px) 100vw, 305px" /> <span class="card-title home brown darken-3">Quadrinhos</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <a href="assets/rotativo/image16.jpg 305w">
                    <img width="305" height="229"
                      src="assets/rotativo/image16.jpg 305w"
                      class="responsive-img wp-post-image" alt="Manga" loading="lazy"
                      title="Mangá"
                      srcset="assets/rotativo/image16.jpg 305w"
                      sizes="(max-width: 305px) 100vw, 305px" /> <span class="card-title home brown darken-3">Mangá</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <a href="assets/rotativo/image18.jpg 305w">
                    <img width="305" height="229"
                      src="assets/rotativo/image18.jpg 305w"
                      class="responsive-img wp-post-image" alt="Historia"
                      loading="lazy" title="História"
                      srcset="assets/rotativo/image18.jpg 305w"
                      sizes="(max-width: 305px) 100vw, 305px" /> <span class="card-title home brown darken-3">História</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col s12 m6 l4">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <a href="assets/rotativo/image19.jpg 305w">
                    <img width="305" height="229"
                      src="assets/rotativo/image19.jpg 305w"
                      class="responsive-img wp-post-image" alt="Literatura" loading="lazy"
                      title="Literatura"
                      srcset="assets/rotativo/image19.jpg 305w"
                      sizes="(max-width: 305px) 100vw, 305px" /> <span class="card-title home brown darken-3">Literatura</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- div section -->
    </div>
  </div>
<!--Fim Div bloco card 4 -->
