<div class="card-panel brown darken-1 center card-title white-text"> Gerenciador de Usuários </div>
  <!-- Div principal-->
  <div class="container contact">
    <form class="col s12" #form="ngForm" (submit)="onSubmit()">
      <!--div do input-livro-->
      <div class="row">
        <div class="input-field col s4">
          <input
            id="username"
            name="username"
            type="text"
            class="validate"
            [(ngModel)]="this.user.username"
            pattern="^(\s?[A-ZÀ-Ú][a-zà-ú]*)+(\s[a-zà-ú]*)?(\s[A-ZÀ-Ú][a-zà-ú]*)?(\s[a-zA-Z0-9-_]*)+"
            #name="ngModel"
            required/>
          <label for="username">Nome Completo *</label>
          <div class="red-text" [hidden]="name.valid || name.untouched">
            Por favor, informe Nome Completo.
          </div>
          <span
            class="helper-text"
            data-error="O campo é inválido"
            data-success="Campo Valido"></span>
         </div>

         <div class="input-field col s4">
          <input
            id="email"
            name="email"
            type="email"
            class="validate"
            [(ngModel)]="this.user.email"
            #name="ngModel"
            required/>
          <label for="email">E-mail *</label>
          <div class="red-text" [hidden]="name.valid || name.untouched">
            Por favor, informe o nome do autor.
          </div>
          <span
            class="helper-text"
            data-error="O campo é inválido"
            data-success="Campo Valido"></span>
        </div>

        <div class="input-field col s4">
          <input
            id="password"
            name="password"
            type="password"
            class="validate"
            [(ngModel)]="this.user.password"
            #password="ngModel"
            required/>
          <label for="password">Senha *</label>
          <div class="red-text" [hidden]="password.valid || password.untouched">
            Por favor, senha com 6 digitos
          </div>
          <span
            class="helper-text"
            data-error="O campo é inválido"
            data-success="Campo Valido"></span>
        </div>
      </div>
      <!-- div selects-->
      <div class="row">
        <div class="input-field col s4">
          <input id="userRepassword"  name="userRepassword"  type="password"
            class="validate"  [(ngModel)]="this.userRepassword"  #repassword="ngModel"
            pattern="{{ password.value }}"  required/>
          <label for="userRepassword" class="active">Repita a senha *</label>
          <div class="red-text" [hidden]="repassword.valid || repassword.untouched">
            Por favor, repita a senha
          </div>
          <span
            class="helper-text"
            data-error="O campo é inválido"
            data-success="Campo Valido"></span>
        </div>

        <div class="input-field col s4">
          <li><label [ngStyle]="{'font-size': '14px' }" for="permission">Permissão *</label></li>
            <select class="browser-default" id="permission" name="permission"
            [(ngModel)]="this.user.permission" required>
              <option value=""> Selecione</option>
              <option value="Administrador">Administrador</option>
              <option value="Consulta">Consulta</option>
            </select>
        </div>
          <!-- div botoes -->

        <div class="input-field col s2">
           <br>
            <li> <button
             class="btn waves-effect waves-light  brown darken-1" type="submit"
             [disabled]="!form.valid">Salvar<i class="material-icons right">save</i>
            </button>
          </li>
        </div>
        <div class="input-field col s2 center">
          <br>
          <li>
            <button
              class="btn waves-effect waves-light brown darken-1 " routerLink="/home">
                Voltar<i class="material-icons right">arrow_back</i>
            </button>
          </li>
        </div>
       </div>

     </form>

  </div>
  <div>
    <table  class="striped">
      <tr class=" brown darken-1 white-text   ">
        <th scope="col" width="5%"  class="tdTable" >ID. </th>
        <th scope="col" width="35%" class="tdTable">Nome Completo  </th>
        <th scope="col" width="30%" class="tdTable">E-mail         </th>
        <th scope="col" width="20%" class="tdTable">Permissão      </th>
        <th scope="col" width="5%"  class="tdTable">Editar         </th>
        <th scope="col" width="5%"  class="tdTable">Deletar        </th>

      </tr>
    </table>
  </div>
  <div class="table-container">
    <table  class="striped">
          <tbody >
            <tr *ngFor = 'let u of users'>
                  <td width="5%" class="tdTable">{{u.id}}</td>
                  <td width="35%">{{u.username | uppercase}}</td>
                  <td width="30%">{{u.email | lowercase}}</td>
                  <td width="20%"  class="tdTable" >{{u.permission | uppercase}}</td>
                  <td width="5%" scope="col" class="tdTable">
                    <a width="25px"><i class="material-icons yellow-text" (click)="onUpdate(u)">edit</i></a>
                  </td>
                  <td width="5%" scope="col" class="tdTable">
                    <a width="25px"><i class="material-icons red-text" (click)="onDelete(u)">delete</i></a>
                  </td>
            </tr>
          </tbody>
    </table>
  </div>
