<div class="card-panel brown darken-1 center card-title white-text">  Gerenciador de Livro </div>
<div class="container contact">
  <form class="col s8" #form="ngForm" (submit)="onSearch()">
    <div class="row">
      <div class="input-field col s4">
        <li><label [ngStyle]="{'font-size': '14px' }" for="input-categoria">Categoria *</label></li>
          <select class="browser-default " id="input-categoria" name="input-categoria"
          [(ngModel)]="this.cat" required>
            <option value=""> Selecione</option>
            <option *ngFor="let cat of categorias" [value]="cat.categoria">{{cat.categoria}}</option>
          </select>
      </div>
    <div class="input-field col s3">
      <br>
       <li> <button
        class="btn waves-effect waves-light  brown darken-1" type="submit"
        [disabled]="!form.valid">Consultar<i class="material-icons right">search</i>
       </button>
     </li>
   </div>
   <div class="input-field col s2">
     <br>
     <li>
       <button
         class="btn waves-effect waves-light brown darken-1 " (click)="limpar()">
           Limpar<i class="material-icons right">clear_all</i>
       </button>
     </li>
    </div>
    <div class="input-field col s2">
      <br>
      <li>
        <button
          class="btn waves-effect waves-light brown darken-1 " routerLink="/home">
            Voltar<i class="material-icons right">arrow_back</i>
        </button>
      </li>
     </div>
   </div>

  </form>
</div>

  <div class="card-panel brown darken-1 center card-title white-text size-font: 20px">Lista Livros </div>

  <div>
    <table  class="striped">
      <tr class=" brown darken-1 white-text   ">
        <th scope = "col" width="5%" class="tdTable" >ID.       </th>
        <th scope = "col" width="30%" class="tdTable" >Livro      </th>
        <th scope = "col" width="20%" class="tdTable" >Autor      </th>
        <th scope = "col" width="20%"class="tdTable" >Editora    </th>
        <th scope = "col" width="10%" class="tdTable" >Tipo       </th>
        <th scope = "col"  width="15%" class="tdTable" >Categoria  </th>
        <th width="1.5%"></th>
      </tr>
    </table>
  </div>

  <div class="example-container">
    <table  class="striped">
        <tbody >
          <tr *ngFor = 'let liv of livs'>
                <td width="5%" class="tdTable">{{liv.id}}</td>
                <td width="30%">{{liv.livro}}</td>
                <td width="20%">{{liv.autor}}</td>
                <td width="20%">{{liv.editora}}</td>
                <td  width="10%" class="tdTable">{{liv.tipo}}</td>
                <td width="15%" class="tdTable">{{liv.categoria}}</td>
         </tr>
        </tbody>
  </table>
  <div *ngIf="!livs || livs!.length == 0">
    <div class="row">
      <div class="center-align">
        <i class="col s12 material-icons large green-text">sentiment_satisfied</i>
        <span class="col s12 flow-text green-text"
          >Nos Encontre!</span
        >
      </div>
    </div>
  </div>
  </div>


